[Desktop Entry]
Exec=/home/user/.config/old-autostart-scripts/git_auto_sync
Icon=dialog-scripts
Name=git_auto_sync
Path=
Type=Application
X-KDE-AutostartScript=true
