[Desktop Entry]
Exec=/home/user/.config/old-autostart-scripts/konsole_watcher.sh
Icon=dialog-scripts
Name=konsole_watcher.sh
Path=
Type=Application
X-KDE-AutostartScript=true
