[Desktop Entry]
Exec=/home/user/.config/old-autostart-scripts/mouse_move.sh
Icon=dialog-scripts
Name=mouse_move.sh
Path=
Type=Application
X-KDE-AutostartScript=true
