[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/user/.config/old-autostart-scripts/snap_refresh
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=snap_refresh
Name=snap_refresh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
